################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConverterApplication/CurrencyConverterApplication.csproj
/CurrencyConverterApplication/.vs
/CurrencyConverterApplication/bin/Debug/net6.0-windows

# Ignore DLL files
*.dll

# Ignore PDB files
*.pdb

# Ignore temporary files
*~

# Ignore Visual Studio files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# Ignore bin and obj directories
/CurrencyConverterApplication/bin/
/CurrencyConverterApplication/obj/

/CurrencyControl/.vs/
