################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CurrencyConverterApplication/CurrencyConverterApplication.csproj
/CurrencyConverterApplication/.vs
/CurrencyConverterApplication/bin/Debug/net6.0-windows

# Ignore DLL files
*.dll

# Ignore PDB files
*.pdb

# Ignore temporary files
*~

# Ignore Visual Studio files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
# Ignore bin and obj directories
bin/
obj/
/CurrencyConverterApplication/obj/Debug/net6.0-windows/CurrencyConverterApplication.csproj.AssemblyReference.cache
/CurrencyControl/bin/Debug/CurrencyControl.dll
/CurrencyControl/bin/Debug/CurrencyControl.pdb
/CurrencyControl/obj/Debug/CurrencyControl.dll
/CurrencyControl/obj/Debug/CurrencyControl.pdb
/CurrencyConverterApplication/obj/Debug/net6.0-windows/ref/CurrencyConverterApplication.dll
/CurrencyConverterApplication/obj/Debug/net6.0-windows/refint/CurrencyConverterApplication.dll
/CurrencyConverterApplication/obj/Debug/net6.0-windows/CurrencyConverterApplication.AssemblyInfoInputs.cache
/CurrencyConverterApplication/obj/Debug/net6.0-windows/CurrencyConverterApplication.AssemblyInfo.cs
/CurrencyConverterApplication/obj/Debug/net6.0-windows/CurrencyConverterApplication.dll
/CurrencyConverterApplication/obj/Debug/net6.0-windows/CurrencyConverterApplication.sourcelink.json
/CurrencyConverterApplication/obj/Debug/net6.0-windows/apphost.exe
